body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-family: sans-serif;
  }
  
  h1 {
    margin: 50px 0px 10px;
    font-size: 60px;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
    padding-bottom: 30px;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid #e3e3e3;
  }
  
  main {
    width: 900px;
    margin: auto;
  }
  
  section {
    margin: 50px 0px;
    padding: 0px 50px;
  }
  
  h2 section {
    padding: 0;
    text-align: left;
    border-style: none;
  }
  
  li {
    margin-bottom: 10px;
  }